<template>
  <div class='container' :class="theme">
    <transition name="slide">
      <div class=" has-text-centered">
        <div class="buttons">
          <span class="button title is-6" v-for='item in categories' v-bind:key='item.id' :data-category='item.id' @click='getQuestion'>{{item.name}}
          </span>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import axios from 'axios';
  import {
    store
  } from './Store.js';
  
  
  export default {
    name: 'Categories',
    data() {
      return {
        categories: store.state.categories,
        id: '',
      }
    },
    computed: {
      hardMode: () => store.state.hardMode,
      theme: () => store.state.activeTheme,
    },
    methods: {
      getQuestion: function(el) {
        this.getCategoryId(el);
        let cat = this.id;
        store.commit({
          type: 'updateCategory',
          category: cat
        })
        //this.getCategoryId(el)
        let id = store.getters.category
        this.axiosReq(id)
        el.currentTarget.classList.remove('picked')
      },
      axiosReq: function(id) {
       let hardMode = this.hardMode
       // if hard mode is active, change difficulty to hard for request api, if not set empty string
       let difficult = ''
       if(hardMode) {
        difficult = 'hard'
       } else {
        difficult = ''
       }
        var vm = this;
        axios.get(`https://opentdb.com/api.php?amount=1&category=${vm.id}&difficulty=${difficult}`)
          .then(function(response) {
            console.log('axios request')
            store.commit({
              type: 'updateQuestion',
              questionData: response.data.results[0].question
            })
            store.commit({
              type: 'updateQuestionData',
              questionData: response.data.results[0]
            })
            store.commit('loadingChange')
          })
          .catch(function(error) {
            console.log(error);
          });
      },
      getCategoryId: function(el) {
        let element = el.currentTarget;
  
        let id = element.dataset.category;
        this.id = id;
      },
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  width: 85%;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 5;
  background: #132e38;
  box-shadow: -7px 10px 19px 0px rgba(0,0,0,0.75);
}
.buttons {
  padding: 0 1rem;
}

.button {
  color: #ecf0f1;
  background: none;
  padding: 0 2rem 0 0rem;
  border: none;
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.button:hover {
  color: #39383F;
}

@media screen and (max-width: 1032px) {
  .container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    top: 0px;
    padding-top: 64px;
    
    min-height: 100vh;
    overflow-y: scroll;
    background: #132e38;
  }
  .button {
      padding: 0 0rem 0 .5rem;
      width: 100%;
      justify-content: flex-start;
  }
  .buttons{
    justify-content: flex-start;
    padding-left: .5rem;
  }
}

</style>
