<template>
<transition name="slide" mode='out-in'>
<div class="section">
<div class="container">
  <router-link to='/game'><i class="fa fa-undo fa-2x" aria-hidden="true"></i></router-link>
  <p class='title'>Your score {{score}}</p>
</div>

</div>

</transition>
</template>

<script>
import { store } from './Store.js';

export default {
  name: 'endingLight',
  data () {
    return {
      score: store.state.score
    }
  },
  watch: {
   
  },
  methods: {

   
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.section {
  min-height: 100vh;

}

.box {
  background: none;
  box-shadow: none;
  display: flex;
  align-items: center;
}

.title, .subtitle, .fa {
    color: #ecf0f1;
}

.table {
  background: none;
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
  transition: .3s all ease-in-out
}

.table th {
  color: #ecf0f1;
  border: none;
}
.table td {
  color: #ecf0f1;
  border: none
}

tbody tr:nth-child(2n) {
 
}

  .slide-enter-active,
  .slide-leave-active {
    transition: all .5s;
  }
  
  .slide-enter,
  .slide-leave-to
  /* .fade-leave-active below version 2.1.8 */
  
  {
    opacity: 0;
    transform: translateY(-100px)
  }

.icon {
  padding-left: 1.3rem;
}
.control {
  width: 100%;
}

.input {
  color: #39383F
}


@media screen and (max-width: 648px) {
  .hidden-mobile {
    display: none;
  }
}
</style>
