<template><transition name="slide" mode='out-in'>
<section class='section'>
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6"><p class='subtitle'>Your score: {{score}}</p></div>
      <div class="column is-6 has-text-right"><router-link to='/game'><i class="fa fa-undo fa-2x" aria-hidden="true"></i></router-link></div>
      <div class="column"><p class='title has-text-centered'>{{text}}</p></div>
    </div>
    <transition name="slide" mode='out-in'>
      <div class="box" v-if='!disableInput'>

    <input class="input " type="text" v-model='name'>
      <i class="fa fa-plus-circle fa-2x icon"  @click='add'></i>
    
 </div>
    </transition>



      
  </div>
  
  <div class='container'>
    <div class="columns">
      <div class='column is-12'>
        <p class='title has-text-centered'>Highscores</p>
    <table class="table is-fullwidth" v-if='highscoreExist'>
  <thead>
    <tr>
      <th class='hidden-mobile'>Pos</th>
      <th>Name</th>
      <th>Points</th>
      <th>Time</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for='(item, index) in bests' v-bind:key='item[".key"]'>
      <th class='hidden-mobile'>{{index + 1}}</th>
      <td>{{item.name}}</td>
      <td>{{item.points}}</td>
      <td>{{item.time}}</td>
      <td>{{item.date}}</td>
    </tr>
  </tbody>
</table>
  </div>
    </div>
  </div>
</section></transition>
</template>

<script>
import { store } from './Store.js';
import { highscoreRef } from '../Firebase'

export default {
  name: 'ending',
  data () {
    return {
      lifes: 0,
      score: store.getters.score,
      text: 'Try again !',
      beat: false,
      name:'',
      bests: store.state.highscore,
      lowest: store.getters.getLow,
      date: '',
      disableInput: false,
      highscoreExist: true,
      time: store.state.time
    }
  },
  watch: {
    bests: () => this.bests = store.state.highscore,
    lowest: () => this.lowest = parseInt(this.lowest),
    time: () => store.state.time
  },
  methods: {
    checkResult: function() {
      if(this.score > this.lowest) {
          this.beat = true
          this.text = 'Good Job !'
      } else {
        this.beat = false;
        this.text = 'Try again!'
      }
    },
    add: function() {
      this.getDate()
      let results = { name: this.name, points: this.score,time: this.time, date: this.date}
      store.commit({
            type: 'addHighScore',
            data: results
          })
      
      store.commit('sort');
      store.commit('topTen');
 
      this.beat = false;
      this.disInput();
    },
    getDate: function() {
      let date = new Date()
      let y = date.toString().split('').slice(4,16).join('');
      this.date = y
    },
    disInput: function() {
      this.disableInput = true;
    }

  },
  created() {
    console.log(store.state.highscore)
    store.commit('updateHighscores')
       console.log(store.state.highscore)
    store.commit('sort');
       console.log(store.state.highscore)
    store.commit('topTen');
       console.log(store.state.highscore)
    this.lowest = parseInt(this.lowest)
  },
  firebase: {
    highscore: highscoreRef
  }


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.section {
  min-height: 100vh;
  padding: 3rem 0;
}

.box {
  background: none;
  box-shadow: none;
  display: flex;
  align-items: center;
}

.title, .subtitle, .fa {
    color: #ecf0f1;
}

.table {
  background: none;
  
  transition: .3s all ease-in-out;
}

.table th {
  color: #ecf0f1;
  border: none;
}
.table td {
  color: #ecf0f1;
  font-size: 13px;
  font-weight: 700;
  border: none;
}

tbody tr:nth-child(2n) {
 background-color: rgba(0,0,0,.2);
}

  .slide-enter-active,
  .slide-leave-active {
    transition: all .5s;
  }
  
  .slide-enter,
  .slide-leave-to{
    opacity: 0;
    transform: translateY(-100px)
  }

.icon {
  padding-left: 1.3rem;
}
.control {
  width: 100%;
}

.input {
  color: #39383F;
}


@media screen and (max-width: 648px) {
  .hidden-mobile {
    display: none;
  }
}
</style>
