<template>
  <transition name="slide" mode='out-in'>

    <div class="hero is-fullheight">

             <transition name="slide">

          <Categories v-show='showCategories' ref="categories"></Categories>
          </transition>

        <audio id='correctSound'
      src="https://dl.dropboxusercontent.com/s/kbz069vpzlblhpj/correct-%5BAudioTrimmer.com%5D.ogg?dl=0"
      > </audio>
        <audio id='uncorrectSound'
      src="https://dl.dropboxusercontent.com/s/4euibbgzxm3b659/wrong-%5BAudioTrimmer.com%5D.ogg?dl=0"> </audio>
      <div class="hero-head">
        <div class='menu'>
          <p class='title is-5 light-color'>Pick category </p> <span><i class="fa fa-2x light-color" aria-hidden="true"
        v-bind:class="{'fa-times-circle-o': showCategories === true,  'fa-chevron-circle-down': showCategories === false}"
     
        @click='showCat'>
        </i></span></div>

          <transition name="slide">
          
        </transition>
        <div class="notification is-dark points">
          <div class="columns is-multiline is-mobile">
            <div class="column is-12 lifes has-text-centered" v-if='lifes > 0'>
              <i class="fa fa-heart life " aria-hidden="true" v-for='item in lifes' v-bind:key='item'></i>
            </div>
            <div class="column is-6">
              <p class='title is-5 has-text-centered'>Points</p>
              <p class='title is-5 score has-text-centered'>{{points}} </p>
            </div>
             
              <Timer v-show='timer'></Timer>
            
            
           
            
          </div>
        </div>
      </div>
      <div class='hero-body '>
        <transition name="slide">
          <Settings v-show='showSettings' ref="settings"></Settings>

        </transition>
        
        
        <transition name="slide" mode='out-in'>
          <div class="container" v-show='ready'>
            
            <div class="columns is-multiline">
              <transition name="slide">
                <div class="column is-8 is-offset-2 question">
                  <div class="columns">
                    <div class="column is-6">
                      <div class="notification">
                        <p class='title is-6 has-text-centered'>{{questionData.category}} </p>
                      </div>
                    </div>
                    <div class="column is-6">
                      <div class="notification  has-text-centered">
                        <p class='title is-6'>{{questionData.difficulty}} </p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="column is-12 answers-box">
                    <p class='notification title is-4 has-text-centered padding-bottom' v-html='questionData.question'></p>
                    <button class='button button-answers' v-for='item in answers' v-bind:key='item' :data-answer='item' @click='checkAnswer' v-html='item'></button>
                  </div>
                </div>
              </transition>
            </div>
          </div>
        </transition>
      </div>
      <div class="hero-footer has-text-right">
          <i class="fa fa-cog fa-2x settings-icon" aria-hidden="true" @click='showSett'
           v-bind:class="{'fa-times-circle-o': showSettings === true,  'fa-cog': showSettings === false}"
        ></i>
        </div>
        <Footer></Footer>
        
    </div>
  </transition>
</template>

<script>
  import axios from 'axios';
  import { store } from './Store.js';
  import Categories from '@/components/Categories'
  import Settings from '@/components/Settings'
  import Footer from '@/components/Footer'
  import Loading from '@/components/Loading'
  import Timer from '@/components/Timer'
  import { mapGetters } from 'vuex'
  
  export default {
    name: 'game',
  
    components: {
      Categories, Settings, Loading, Timer, Footer
    },
  
    data() {
      return {
        questionData: {},
        points: 0,
        showCategories: true,
        lifes: 3,
        lose: false,
        answers: [],
        ready: false,
        difficulty: '',
        prize: 0,
        showSettings: false,
      }
    },
    mounted() {
     
      console.log(this.$refs)
     
    },
    computed: {
      qData: () => store.state.questionData,
      loading: () => store.state.loading,
      endTime: () => store.state.endTime,
      timer: () => store.state.timer
    },
  
    watch: {
      qData(newCount, oldCount) {
        this.questionData = newCount;
        this.difficulty = this.questionData.difficulty
        this.setPrize();
        this.createArrayWithAnswers();
        if (Object.keys(this.questionData).length > 0 && this.questionData.constructor === Object) {
          this.ready = true
          this.showCategories = false
        }
      },
      lifes: function() {
        console.log('SWAG')
        if (this.lifes === 0) {
          
          store.commit({
            type: 'scoreUpdate',
            points: this.points
          })

          store.commit({
            type: 'timeUpdate',
            time: this.points
          })
          const vm = this;
          window.setTimeout(function(){
            vm.$router.push({
            path: '/ending'
          })
          },2000)
          
        }
      
    },
    endTime: function(v) {
      if(v === true) {
         
        console.log(v)
        this.lifes = this.lifes -1
        
        this.nextQuestion();
        
      }
      
    },
    ready: function(newState, prevState) {
      //if(newState === false) {
       // clearInterval(timerFunction);
        //console.log('clear')
      //}

      if(newState === true) {
        console.log('timer')
        store.commit('timerFlowBind')
         //this.$refs.loading.timer();
      }
    }
    },
    methods: {
      createArrayWithAnswers: function() {
        let arr = this.questionData.incorrect_answers;
        let correct = this.questionData.correct_answer;
        arr.push(correct);
        this.answers = this.shuffle(arr);
        
      },
      setPrize: function() {
        let expression = this.difficulty;
        console.log(expression)
        switch (expression) { 
          case 'easy':
            this.prize = 3;
            break;
          case 'medium':
            this.prize = 5;
            break;
          case 'hard':
            this.prize = 10;
            break;
          default:
            this.prize = 5
        }
      },
      shuffle: function(a) {
        for (let i = a.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [a[i], a[j]] = [a[j], a[i]];
        }
        return a;
      },
      nextQuestion: function() {
        this.ready = false
        this.$refs.categories.axiosReq();
       
      },
      checkAnswer: function(el) {
        store.commit('timerFlowBind')
        let target = el.currentTarget;
        let correct = this.questionData.correct_answer
        let answer = target.dataset.answer;
        let answers = document.querySelectorAll('.button-answers');
        for (let item of answers) {
          item.disabled = true
        }
  
        if (answer === correct) {
          target.classList.add('correct')
          this.points += this.prize
          this.soundPlay('correctSound')
          store.commit('setAnswerTrue')
        } else {
          this.lifes -= 1
          target.classList.add('uncorrect')
          this.soundPlay('uncorrectSound')
          store.commit('setAnswerFalse')
          for (let item of answers) {
            if(item.dataset.answer === correct) {
              item.classList.add('correct')}
        }
        }
        const self = this;
        if (this.lifes > 0) {
          window.setTimeout(function() {
            self.nextQuestion()
          }, 2000)
        }
      },
      showCat: function() {
        this.showCategories = !this.showCategories
      },
      showSett: function() {
        this.showSettings = !this.showSettings
      },
      soundPlay: function(e) {
        let el = document.getElementById(e);
        el.play()
      },
      checkTime: function() {
        if(this.endTime === true) {

        }
      },
      updated() {
        
    }

    }
  
    }

  
  //store.watch((state) => state.getters.questionData, () => {
  //this.questionData = store.getters.questionData
  // console.log(this.questionData)
  
  //})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .button-answers {
    width: 49%;
    white-space: normal;
    height: 100%;
    color: #95a5a6;
    border:none;
    border: none;
    box-shadow: 0px 6px 12px -3px rgba(0, 0, 0, 0.3);
    margin-top: .5rem
  }
  
  .notification {
    width: 100%;
    background: none;
    color: #ecf0f1;
    padding: 0;
  }
  
  .subtitle {
    color: #ecf0f1;
  }
  
  span {
    padding-left: .5rem;
  }
  
  .points {
    margin: 24px 0 0 0;
  }
  
  .answers-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .buttons {
    transition: .3s all ease;
    align-items: initial !important;
    justify-content: center;
  }
  

  

  .correct {
    background: #8BC34A;
    border-color: #8BC34A;
    transition: .25s all ease-in-out;
    color: #fff
  }
  
  .uncorrect {
    background: #c62828;
    border-color: #c62828;
    transition: .25s all ease-in-out;
    color: #fff
  }
  
  .slide-enter-active,
  .slide-leave-active {
    transition: all .5s;
  }
  
  .slide-enter,
  .slide-leave-to {
    opacity: 0;
    transform: translateY(-100px);
  }
  
  .question {
    transition: .3s all ease-in-out;
  }
  
  .life {
    margin-left: 8px;
  }
  
  .hero-head {
    padding: 12px;
  }
  
  .light-color {
    color: #ecf0f1;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  
  .hero {
    height: 100%;
  }
  
  .hero-body {
    padding-top: 1rem;
  }

  

  
  .title:not(:last-child),
  .subtitle:not(:last-child) {
    margin: 0;
  }
  
  .columns:last-child {
    margin: 0;
  }
  
  .lifes {}
  
.settings-icon {
  position: fixed;
  bottom: 12px;
  right: 12px; 
  color: #ECF0F1;
  cursor: pointer;
  transition: .25s all ease-in-out;
   z-index: 10;
}

.settings-icon--active {
  color: #39383F;
}

.button[disabled] {
  opacity: .9;
}

  @media screen and (max-width: 1024px) {
    .menu {
      padding: .5rem;
      background: rgba(255, 255, 255, .1);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .button-answers {
      width: 100%;
    }
    .answers-box:first-child {  
      padding-top: 2rem;
    }
    .padding-bottom {
      padding-bottom: 1rem;
    }
    .settings-icon {
      

    }
  }


</style>
