<template><transition name="slide">
  <div class="hero is-fullheight">
      <div class="hero-body">
       <div class="container has-text-centered">
         <h1 class='subtitle is-3'>Welcome to Quiz game</h1>
         <p class="subtitle is-4">For start press start button and pick category from top menu</p>
         <button @click='start' class="button is-large">Start</button>
       </div>
      </div>
     
  </div></transition>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      
  }
},
methods: {
  start: function() {
    this.$router.push({ path: '/game' })
  }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.subtitle {
  color: #ecf0f1;
}

  .slide-enter-active,
  .slide-leave-active {
    transition: all .5s;
  }
  
  .slide-enter,
  .slide-leave-to{
    opacity: 0;
    transform: translateY(-100px)
  }
</style>
