<template>
    <div class="progress">
        <span class='pro'></span>
    </div>
</template>

<script>

    import {
        store
    } from './Store.js';
    
    export default {
        name: 'Loading',
        data() {
            return {
                width:  0,
                basicWidth: 0,
                halfBasicWidth: 0,
                minimalWidth: 0,
                tt: 'ss'
            }
        },
        methods: {
            lo: function() {
                console.log(this.$parent.ready)
                if (this.$parent.ready) {
                    const bar = document.querySelector('.pro');
                    this.basicWidth = this.basicWidth - 50
                    bar.style.width = this.basicWidth + 'px'
                    console.log(this.basicWidth)
                    //console.log(width + 'width')

                    if (this.basicWidth < this.halfBasicWidth) {
                        bar.style.backgroundColor = '#c0392b'
                        console.log('red')
    
                    }
    
                    if (this.basicWidth < this.minimalWidth) {
                        store.commit('setEndTimeTrue')
                        
                         bar.style.backgroundColor = '#FFF'
                        bar.style.width = '100%'
                        this.basicWidth = document.querySelector('.pro').clientWidth
                        
                        return;
    
                    }
                }
    
            },
            timer: function() {
                timerFunction()
            }
        },
        computed: {
            endTime: () => store.state.endTime
    
        },
        watch: {
            barWidth: function() {
                
    
            }
        },

        mounted() {
            this.width = document.querySelector('.pro').clientWidth;
            this.basicWidth = this.width
            this.halfBasicWidth = this.width / 2
            this.minimalWidth = this.width / 16
           var timerFunction = window.setInterval(this.lo, 1000);
            
        }
        
    }
</script>

<style>
    .progress {
        width: 60%;
        height: 10px;
        margin: 2rem 0;
        display: flex;
        position: absolute;
        left: 20%;
        top: 35%;
        z-index: 9;
    }
    
    .progress span {
        width: 100%;
        height: 10px;
        background: #fff;
        border-radius: 12px;
        transition: .45s all ease-in-out;
    }
</style>

