<template>
  <div class="settings" :class="theme">
   <div class="settings-box">
<p class='title is-3'>Volume settings</p>
      <div class='settings-box__options'>

        <div class='single-setting'>
<p class='title is-5'>SFX <span> </span></p>  
      <i @click='changeVolume(0.1)' class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
      <p class='title'>{{Math.round(volume * 100) / 100}}</p>
      <i @click='changeVolume(-0.1)' class="fa fa-minus-circle fa-2x" aria-hidden="true"></i>
        </div>

        <div class='single-setting'>
  <p class='title is-5'>Mute</p>
      <i class="fa fa-2x" aria-hidden="true"  
      v-bind:class="{'fa-volume-up ': mute === false,  'fa-volume-off': mute === true  }"
      @click='muteBind'></i>
        </div>
      
      
    
    </div>
    <div class='settings-box__options'>
    <p class='title is-3'>Game settings</p>
      <div class='settings-box__options'>
        <div class='single-setting'>
 <p class='title is-5'>Hard mode</p>  
 <i class="fa fa-shield fa-2x" aria-hidden="true" @click='hardModeBind' v-bind:class="{active : hardMode }"></i>
        </div>

     <div class='single-setting'>
<p class='title is-5 '>Timer </p>
<i class="fa fa-clock-o fa-2x" aria-hidden="true"  @click='timerBind'  v-bind:class="{active : timer }"></i> 
    </div>

      
      
    </div>
      </div>
</div>

      

      <div class='themes'>
        <p class='title is-3'>Themes</p>
        <div class='theme' v-for='item in themes' v-bind:key='item.name'>
          <p class='title is-6'>{{item.name}}</p>
          <div class='theme-preview' :class='item.className' :data-item='item.className' @click='changeTheme'>

          </div>
        </div>
       
      </div>

  </div>
</template>

<script>

    import {
        store
    } from './Store.js';

export default {
  name: 'settings',
  data () {
    return {
      mute: false,
      hardMode: false,
      timer: false,
      activeTheme: '',
      themes: [{
        name: 'Bloody Mary',
        className: 'bloodyMary',
      },{
        name: 'Mango Pulp',
        className: 'mangoPulp',
      },{
        name: 'Playing With Reds',
        className: 'playingWithReds',
      },{
        name: 'Nimvelo',
        className: 'nimvelo',
      },{
        name: 'Royal Blue',
        className: 'royalBlue',
      },{
        name: 'Berimbolo',
        className: 'berimbolo',
      },{
        name: 'default',
        className: 'default',
      }
      ]
    }
    
  },
  computed: {
    theme: () => store.state.activeTheme,
    volume: () => store.state.volume
  },
  methods: {
      changeVolume: function(v) {
          let audio = document.querySelectorAll('audio');
          console.log(audio)
          audio.forEach(element => {
            element.volume = element.volume + v
            console.log(element.volume)
          });
          
            store.commit({
            type: 'volumeUpdate',
            volume: audio[0].volume
          })
          
      },
      muteBind: function() {
        

        let audio = document.querySelectorAll('audio');
          console.log(audio)
          audio.forEach(element => {
            if(this.mute === false){
              element.volume = 0
              store.commit({
            type: 'volumeUpdate',
            volume: 0
          })
            console.log(element.volume)
            } else {
              element.volume = 0.5
              store.commit({
            type: 'volumeUpdate',
            volume: 0.5
          })
            }
            
          });
            
          this.mute = !this.mute
      },
      hardModeBind: function() {
        store.commit('hardModeBind')
       this.hardMode = !this.hardMode
      },
      timerBind: function() {
        store.commit('timerBind')
        this.timer = !this.timer
      },
      changeTheme: function(el) {
        let target = el.currentTarget;
        let className = target.dataset.item;
        

        store.commit({
            type: 'updateActiveTheme',
            activeTheme: className
          })
      }

    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.settings {
  width: 100% ;
  min-height: 100%;
  
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-top: 64px;
}

.title {
  color: #fff;
  margin-bottom: .5rem;
}

.fa {
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
}

.single-setting{
  width: 112px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 1rem;
}

  
  .settings-box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    flex-flow: row wrap;
  }

  .settings-box__options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

.title:not(:last-child) {
    margin-bottom: 0;
}

.fa-volume-off {
  color: #4a4a4a;
}

.active {
  color: #4a4a4a;
}

.subtitle {
  margin-top: 2rem;
}

.themes{
width: 40%;
height: 28%;
}

.theme {
  
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.theme-preview{
  width: 52px;
  height: 52px;
  border: 1.5px solid #fff;
  border-radius: 12px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .settings {
    flex-flow: column wrap;
     padding-left: 0rem;
  padding-top: 64px;
  justify-content: center;
  }

  .settings-box{
    width: 100%;
  }

  .single-setting {
    width: 100%;
    margin: 1rem 0;
  }
  .themes{
    width: 100%;
    margin-bottom: 3rem;
  }

  .theme {
    flex-wrap: nowrap;
    padding: 0 1rem;
  }

  .theme .title {
    width: auto;
  }

      .title {
        width: 100%;
        text-align: center;
      font-size: 16px;
    }
    .is-3 {
      font-size: 16px;
    }
    .is-5 {
      font-size: 12px;
    }

    
    .fa {
      font-size: 32px;
    }
    .theme-preview {
      width: 32px;
      height: 32px;
    }

  }
</style>
