<template>
  <div class='column is-6'>
    <p class='title is-5 has-text-centered'>{{title}}</p>
      <p class='timer title is-5 has-text-centered'>{{seconds}}</p>
    
  </div>
</template>

<script>
import { store } from './Store.js';

export default {
  name: 'Timer',
  data () {
    return {
      time: '',
      seconds: 0,
      timeActives: true,
      title: 'Timer',
      timer: ''
  }
},
methods: {
  runTime: function() {
    this.seconds += 1
    
  } 
},
computed: {
  timeActive: () => store.state.timeFlow
},
watch: {
   timeActive: {
        handler: function(v) {
            if(v === true) {
      console.log('time acive')
      console.log(this.runTime)
      this.timer = setInterval(this.runTime, 1000)
    } else {
      clearInterval(this.timer)
      console.log('time not active')
    }
        }
    }
},
mounted() {

}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.timer {

}
</style>
