<template>
  <div id="app" class='app' :class='theme'>
   
    <router-view/>
  </div>
</template>

<script>

    import {
        store
    } from './components/Store.js';

export default {
  name: 'App',
  data() {
            return {
                
            }
        },
  computed: {
    theme: () => store.state.activeTheme
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  animation: none !important;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
background: #fc4a1a;  
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
background: linear-gradient(to right, #f7b733, #fc4a1a);
font-family: 'Lato';

.app {

}

  }
  .buttons {
    transition: .3s all ease;
    align-items: initial !important;
    justify-content: flex-end;
  }

  .columns {
    margin-right: 0;
    margin-left: 0;
  }

  .bloodyMary {
    background: #FF512F; 
background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
background: linear-gradient(to right, #DD2476, #FF512F); 


  }

  .mangoPulp {
    background: #F09819;  
background: -webkit-linear-gradient(to right, #EDDE5D, #F09819); 
background: linear-gradient(to right, #EDDE5D, #F09819);

  }

  .playingWithReds {
    background: #D31027;  
background: -webkit-linear-gradient(to right, #EA384D, #D31027); 
background: linear-gradient(to right, #EA384D, #D31027); 

  }

  .nimvelo {
    background: #314755;  
background: -webkit-linear-gradient(to right, #26a0da, #314755); 
background: linear-gradient(to right, #26a0da, #314755); 

  }

  .royalBlue {
    background: #536976;  
background: -webkit-linear-gradient(to right, #292E49, #536976);  
background: linear-gradient(to right, #292E49, #536976);

  }

  .berimbolo {
    background: #02111D;  
background: -webkit-linear-gradient(to right, #02111D, #037BB5, #02111D);  
background: linear-gradient(to right, #02111D, #037BB5, #02111D); 

  }

  .default{
        background: #E44D26; 
    background: -webkit-linear-gradient(to right, #F16529, #E44D26);  
    background: linear-gradient(to right, #F16529, #E44D26);
  }

.subtitle:not(:last-child), .title:not(:last-child) {
    margin: 0;
}
</style>


